# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
/staticfiles/
/media/
local_settings.py

# Environment variables / secrets
.env
*.env

# IDE
.vscode/
.idea/
*.DS_Store