absl-py==2.4.0
asgiref==3.11.1
Django==5.2.14
immutabledict==4.3.1
numpy==2.2.6
ortools==9.15.6755
pandas==2.3.3
protobuf==6.33.6
python-dateutil==2.9.0.post0
pytz==2026.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
